<div id="join">
    <div class="container">
        <div class="home-text">
            <div class="primery-home-text d-flex justify-content-center align-items-center">
                <div>
                    <img class="btc-float" src="../../../assets/bitcoin.png" alt="floating-el" height="72px" width="72px">
                </div>
                <div class="mx-4">
                    <h1 class="text-light text-center">
                        JOIN US VIA
                    </h1>
                    <div class="secondry-home-text text-center">
                        <h1>DISCORD</h1>
                    </div>
                </div>
                <div>
                    <img class="btc-float" src="../../../assets/ethereum.png" alt="floating-el" height="75px" width="75px">
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center pt-4 text-light sub-text text-center">
                <h4>Invest and manage all your crypto at one place.</h4>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <button class="join-btn">Join via Disord</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-social-link">
            <div class="ml-2">
                <i class="fab fa-twitter"></i>
            </div>
            <div class="ml-5">
                <i class="fab fa-pinterest-p"></i>
            </div>
            <div class="ml-5">
                <i class="fab fa-facebook"></i>
            </div>
            <div class="ml-5">
                <i class="fab fa-youtube"></i>
            </div>
        </div>
        <div class="footer-privacy">
            <div>
                <a href="">
                    Privacy
                </a>
            </div>
            <div>
                <a href="">
                    Terms of Use
                </a>
            </div>
        </div>
    </div>
</div>
